body {
	background-color: whitesmoke !important;
	color: black;
	/*background: -webkit-linear-gradient(left, #F5FCFF, #FEFEFF);
  background: -o-linear-gradient(left, #F5FCFF, #FEFEFF);
  background: -moz-linear-gradient(left, #F5FCFF, #FEFEFF);
  background: linear-gradient(left, #F5FCFF, #FEFEFF);*/
}

#page-title {
	padding-top: 30px;
}

.section-title {
	text-align: center;
	font-size: 15em;
	//color: #999999;
}

.section-title h1 {
	font-weight: bold;
}

.ppl {
	padding: 30px;
	text-align: center;
}

.ppl img {
	width: 50%;
	max-width: 200px;
	height: auto;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	margin-bottom: 15px;
}

.ppl-container {
	padding: 20px;
}

.ppl-container:hover {
	background-color: #E4EFEF;
	color: black;
}

.ppl hr {
	border: none;
	height: 5px;
	background-color: #337AB7;
	width: 50%;
}

.name {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1.2em;
}

.title {
	font-size: 1.1em;
}

.row {
	padding-left: 20px;
	padding-right: 20px;
}

.subsection-title {
	background-color: #337AB7;
	color: white;
	margin: 0px 50px;
}

.subsection-title {
	padding: 10px 20px;
}

.subsection-title > h2 {
	margin: 10px 0px;
}
