.jumbotron {
	text-align: center;
	margin-bottom: 0px;
}

/*body {
	background: -webkit-linear-gradient(left, #003366, #000000);
  background: -o-linear-gradient(left, #003366, #000000);
  background: -moz-linear-gradient(left, #003366, #000000);
  background: linear-gradient(left, #003366, #000000);
}
*/

.banner-inner {
	width: 100%;
	min-height: 200px;
	background-color: black;
	color: white;
}

.content {
	padding: 20px 50px;
}

#mission {
	background-color: #1b3978;
}	

#sponsors {
	background-color: whitesmoke;
	color: #007bb5;
}

/* Events */

#events-carousel {
	position: relative;
}

#event-box {
	position: absolute;
	top: 0;
	left: 0;
	width: 300px;
	height: 100%;
	z-index: 1000;
	background-color: rgba(0,0,0,0.3);
	color: white;
	padding-left: 50px;
	padding-top: 20px;
}

.carousel-inner {
	max-height: 500px;
}

.carousel-img > img {
	width: 100%;
	height: auto;
}

.arrow-link {
	padding-right: 10px;
	color: red;
}

/* Sponsors */

#sponsor-carousel .item {
  margin: 10px 20px;
}

#sponsor-carousel .item img {
  display: block;
  width: 100%;
  height: auto;
}
