.navbar {
	background-color: white;
  /*
	background: -webkit-linear-gradient(left, white, #EEEEEE);
  background: -o-linear-gradient(left, white, #EEEEEE);
  background: -moz-linear-gradient(left, white, #EEEEEE);
  background: linear-gradient(left, white, #EEEEEE);
	*/
	border-color: white;
}

body {
	margin-top: 80px;
}

#top-navbar li:hover {
	color: black;
	font-weight: bold;
	background-color: #337AB7;
}

#top-navbar {
	padding-top: 10px;
	padding-bottom: 10px;
}

#social-media-bar {
	padding-left: 30px;
}
